:root {
  --font-family: "Montserrat", sans-serif;
  --content-width: 1320px;
  --content-width-sm: 1090px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-sm: calc(var(--content-width-sm) + (var(--container-offset) * 2));
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --accentColor: #b1862e;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}
.page__body.lock {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-sm {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width-sm);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn-outline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--whiteColor);
  padding: 15px 0;
  border: 2px solid var(--accentColor);
  position: relative;
}
.btn-outline:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accentColor);
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn-outline:hover:after {
  content: "";
  width: 100%;
}
@media (max-width: 992px) {
  .btn-outline {
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  .btn-outline {
    padding: 8px 0;
    font-size: 14px;
  }
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--whiteColor);
  padding: 15px 0;
  border: 2px solid var(--blackColor);
  background-color: var(--blackColor);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: var(--whiteColor);
  border: 2px solid var(--accentColor);
  color: var(--blackColor);
}

.home-suptitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accentColor);
}
@media (max-width: 768px) {
  .home-suptitle {
    font-size: 16px;
    line-height: 26px;
  }
}

.home-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: var(--blackColor);
}
@media (max-width: 768px) {
  .home-title {
    font-size: 25px;
    line-height: 36px;
  }
}
@media (max-width: 480px) {
  .home-title {
    font-size: 22px;
    line-height: 30px;
  }
}

.header {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(15, 11, 11, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 100;
}
@media (max-width: 1200px) {
  .header {
    background-color: transparent;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__logo {
  position: relative;
  z-index: 100;
}
@media (max-width: 1200px) {
  .header__logo img {
    width: 250px;
  }
}
@media (max-width: 480px) {
  .header__logo img {
    width: 150px;
  }
}
.header .nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav > ul > li {
  margin-right: 30px;
}
.header .nav > ul > li:last-child {
  margin-right: 0;
}
.header .nav > ul > li > a {
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--whiteColor);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header .nav > ul > li > a:hover {
  color: var(--accentColor);
}
@media (max-width: 1200px) {
  .header .nav > ul > li {
    margin-right: 15px;
  }
  .header .nav > ul > li > a {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .header .nav > ul {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header .nav > ul > li {
    margin: 0;
    margin-bottom: 15px;
  }
  .header .nav > ul > li:last-child {
    margin-bottom: 0;
  }
  .header .nav > ul > li > a {
    font-size: 21px;
  }
}
@media (max-width: 480px) {
  .header .nav > ul > li {
    margin-bottom: 10px;
  }
  .header .nav > ul > li > a {
    font-size: 16px;
  }
}
@media (max-height: 480px) {
  .header .nav > ul > li {
    margin-bottom: 5px;
  }
  .header .nav > ul > li > a {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  .header .nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--blackColor);
    z-index: 99;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }
  .header .nav.menu--active {
    -webkit-transform: translate(0%);
    -ms-transform: translate(0%);
    transform: translate(0%);
  }
}
@media (max-width: 576px) {
  .header .nav ul.social {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 24px;
  }
  .header .nav ul.social > li {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .header .nav ul.social > li:last-child {
    margin-right: 0;
  }
}
@media (max-height: 480px) {
  .header .nav ul.social {
    bottom: 6%;
  }
}
.header__social > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
}
.header__social > ul > li {
  margin-right: 15px;
}
.header__social > ul > li:last-child {
  margin-right: 0;
  width: 24px;
  height: 24px;
}
.header__social > ul > li > a {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.header__social > ul > li > a:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
@media (max-width: 576px) {
  .header__social > ul {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}
.header .burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--whiteColor);
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .header .burger {
    display: block;
    position: relative;
    z-index: 100;
  }
}
.header.scroll {
  background-color: rgba(15, 11, 11, 0.8);
  padding-top: 5px;
  padding-bottom: 0;
}
.header.scroll .nav > ul > li > a {
  font-size: 12px;
}
@media (max-width: 576px) {
  .header {
    padding-top: 5px;
    padding-bottom: 0;
  }
}

.main-slider-wrapper .swiper {
  width: 100%;
  height: 100vh;
}
@media (max-width: 1200px) {
  .main-slider-wrapper .swiper {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .main-slider-wrapper .swiper-wrapper {
    display: block;
  }
}
.main-slider-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.main-slider-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.main-slider-wrapper .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1500px) {
  .main-slider-wrapper .swiper-pagination {
    right: 20px !important;
  }
}
.main-slider-wrapper .swiper-pagination-vertical.swiper-pagination-bullets, .main-slider-wrapper .swiper-vertical > .swiper-pagination-bullets {
  right: 60px;
}
.main-slider-wrapper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #aaaaaa;
  opacity: 1;
  margin-bottom: 18px !important;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.main-slider-wrapper .swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background-color: transparent !important;
  border: 2px solid #AAAAAA;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.hero {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .hero {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding-top: 100px;
  }
}
.hero .container-sm {
  height: 100%;
}
.hero__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1300px) {
  .hero__wrap {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .hero__wrap {
    max-width: 100%;
  }
}
.hero__suptitle {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: var(--accentColor);
}
.hero__title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;
  color: var(--whiteColor);
}
@media (max-width: 992px) {
  .hero__title {
    font-size: 40px;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 32px;
    line-height: 42px;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 22px;
  }
}
.hero__list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
@media (max-width: 1400px) {
  .hero__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .hero__list {
    row-gap: 5px;
  }
}
.hero__item:last-child .hero__link:after {
  content: none;
}
.hero__link {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--whiteColor);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.hero__link:after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 2px;
  height: 100%;
  background-color: #aaaaaa;
}
@media (max-width: 1400px) {
  .hero__link:after {
    content: none;
  }
}
.hero__link:hover {
  color: var(--accentColor);
}
@media (max-width: 992px) {
  .hero__link {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 992px) {
  .hero__link {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 480px) {
  .hero__link {
    font-size: 12px;
    line-height: 18px;
  }
}
.hero__text {
  margin-top: 40px;
  font-family: "OpenSans";
  font-size: 20px;
  line-height: 34px;
  color: var(--whiteColor);
  text-align: center;
}
@media (max-width: 992px) {
  .hero__text {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .hero__text {
    margin-top: 25px;
  }
}
.hero__btn {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  padding-right: 125px;
  padding-left: 125px;
}
@media (max-width: 992px) {
  .hero__btn {
    padding-right: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 480px) {
  .hero__btn {
    padding-right: 0;
    padding-left: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
}
.hero__crypto-link {
  margin-top: 30px;
  display: inline-block;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--accentColor);
  position: relative;
}
.hero__crypto-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 2px;
  background-color: var(--accentColor);
  width: 0%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.hero__crypto-link:hover:after {
  width: 100%;
}
@media (max-width: 992px) {
  .hero__crypto-link {
    font-size: 14px;
  }
}
.hero__click-down {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .hero__click-down {
    display: none;
  }
}

.vacancy {
  height: 100%;
}
.vacancy .container {
  height: 100%;
}
@media (max-width: 1500px) {
  .vacancy .container {
    width: 90%;
  }
}
.vacancy__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.vacancy__title {
  margin-top: 10px;
}
.vacancy__items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 1200px) {
  .vacancy__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .vacancy__items {
    margin-top: 20px;
  }
}
.vacancy__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-preferred-size: calc(50% - 12px);
  flex-basis: calc(50% - 12px);
  background-color: var(--whiteColor);
  border: 1px solid #DDDDDD;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.vacancy__item:hover {
  -webkit-filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
}
@media (max-width: 1200px) {
  .vacancy__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 70%;
  }
}
@media (max-width: 992px) {
  .vacancy__item {
    max-width: 85%;
  }
}
@media (max-width: 768px) {
  .vacancy__item {
    max-width: 100%;
    padding: 20px;
  }
}
@media (max-width: 576px) {
  .vacancy__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 10px;
  }
}
.vacancy__name {
  -ms-grid-column-span: 8;
  grid-column: span 8;
  max-width: 285px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--blackColor);
}
@media (max-width: 576px) {
  .vacancy__name {
    max-width: 100%;
    text-align: center;
  }
}
.vacancy__link {
  padding: 10px 25px;
  font-size: 14px;
  line-height: 20px;
  -ms-grid-column-span: 4;
  grid-column: span 4;
  align-self: flex-start;
}
@media (max-width: 1400px) {
  .vacancy__link {
    font-size: 12px;
    padding: 8px 15px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
@media (max-width: 1200px) {
  .vacancy__link {
    justify-self: flex-end;
  }
}
@media (max-width: 576px) {
  .vacancy__link {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.vacancy__list {
  -ms-grid-column-span: 12;
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.vacancy__list > li:last-child {
  padding-left: 15px;
  background-image: url("../img/location.png");
  background-size: 11px 15px;
  background-repeat: no-repeat;
  background-position: left center;
}
.vacancy__list > li > a {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--accentColor);
}
.vacancy__list > li > a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .vacancy__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.vacancy__btn {
  margin-top: 40px;
  padding: 15px 55px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .vacancy__btn {
    padding: 10px 40px;
  }
}
@media (max-width: 576px) {
  .vacancy__btn {
    margin-top: 30px;
    padding: 6px 30px;
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .vacancy {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .vacancy {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/*# sourceMappingURL=main.css.map */