:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1320px;
  --content-width-sm: 1090px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-width-sm: calc(var(--content-width-sm) + (var(--container-offset) * 2));

  // colors
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --accentColor: #b1862e;
}
