// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


// HEADER START ========================================================================================================================================================

.header {
  padding: 15px 0;
  border-bottom: 1px solid rgba(#ffffff, 0.2);
  background-color: rgba(15, 11, 11, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 100;
  @media (max-width: 1200px){
    background-color: transparent;
  }
  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1730px;
    margin: 0 auto;
    padding: 0 15px;
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 100;
    @media (max-width: 1200px){
        img {
          width: 250px;
        }
    }
    @media (max-width: 480px){
        img {
          width: 150px;
        }
    }
  }

  .nav {
    > ul {
      display: flex;
      > li {
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          color: var(--whiteColor);
          transition: all 0.3s ease 0s;
          &:hover {
            color: var(--accentColor);
          }
        }
      }
      @media (max-width: 1200px){
          > li {
            margin-right: 15px;
            > a {
              font-size: 14px;
            }
          }
      }
      @media (max-width: 992px){
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > li {
            margin: 0;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
            > a {
              font-size: 21px;
            }
          }
      }
      @media (max-width: 480px){
          > li {
            margin-bottom: 10px;
            > a {
              font-size: 16px;
            }
          }
      }
      @media (max-height: 480px){
          > li {
            margin-bottom: 5px;
            > a {
              font-size: 14px;
              line-height: 18px;
            }
          }
      }
    }
    // .nav__list

    &__list {}

    // .nav__item

    &__item {}

    // .nav__link

    &__link {}

    @media (max-width: 992px){
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--blackColor);
      z-index: 99;
      transform: translateY(-100%);
      transition: transform 0.3s ease 0s;
      &.menu--active {
        transform: translate(0%);
      }
    }
    @media (max-width: 576px){
        ul.social {
          transform: scale(1);
          position: absolute;
          bottom: 15%;
          left: 50%;
          transform: translateX(-50%);
          flex-direction: column;
          max-width: max-content;
          flex-direction: row;
          height: 24px;
          > li {
            margin-right: 15px;
            margin-bottom: 0;
            &:last-child {
              margin-right: 0;
            }
          }
        }
     }
     @media (max-height: 480px){
      ul.social {
        bottom: 6%;
      }
     }
  }

  // .header__social

   &__social {
    > ul {
      display: flex;
      height: 24px;
      > li {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
          width: 24px;
          height: 24px;
        }
        > a {
          transition: transform 0.3s ease 0s;
          display: inline-block;
          width: 24px;
          height: 24px;
          &:hover {
            transform: translateY(-4px);
          }
        }
      }
      @media (max-width: 576px){
        transform: scale(0);
    }
    }
   }

  .burger {
    @include burger;
    display: none;
    // .burger__line
    @media (max-width: 992px){
      display: block;
      position: relative;
      z-index: 100;
    }
    &__line {}
  }
  &.scroll {
    background-color: rgba(15, 11, 11, 0.8);
    padding-top: 5px;
    padding-bottom: 0;
    .nav {
      > ul {
        > li {
          > a {
            font-size: 12px;
          }
        }
      }
    }
  }
  @media (max-width: 576px){
    padding-top: 5px;
    padding-bottom: 0;
  }
}

// HEADER END ========================================================================================================================================================

// MAIN SLIDER START ========================================================================================================================================================

.main-slider-wrapper {
  .swiper {
    width: 100%;
    height: 100vh;
    @media (max-width: 1200px){
        height: auto;
    }
  }
  .mySwiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 1500px){
        right: 10px !important;
    }
  }
  .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 60px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #aaaaaa;
    opacity: 1;
    margin-bottom: 18px !important;
    transition: all 0.2s ease 0s;
  }
  .swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background-color: transparent !important;
    border: 2px solid #AAAAAA;
    transition: all 0.2s ease 0s;
  }
}

// MAIN SLIDER END ========================================================================================================================================================


// SECTION HERO START ========================================================================================================================================================

.hero {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  @media (max-width: 1200px){
      padding-top: 150px;
      padding-bottom: 100px;
  }
  @media (max-width: 576px){
      padding-top: 100px;
  }
  // .hero__wrap
  .container-sm {
    height: 100%;
  }
  &__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 1300px){
        max-width: 80%;
        margin: 0 auto;
    }
    @media (max-width: 1200px){
        max-width: 100%;
    }
  }

  // .hero__suptitle

  &__suptitle {
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: var(--accentColor);
  }

  // .hero__title

  &__title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--whiteColor);
    @media (max-width: 992px){
        font-size: 40px;
        line-height: 50px;
    }
    @media (max-width: 576px){
        font-size: 32px;
        line-height: 42px;
    }
    @media (max-width: 480px){
        font-size: 22px;
    }
  }

  // .hero__list

  &__list {
    margin-top: 10px;
    display: flex;
    column-gap: 30px;
    @media (max-width: 1400px){
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: center;
    }
    @media (max-width: 576px){
      row-gap: 5px;
    }
  }

  // .hero__item

  &__item {
    &:last-child {
      .hero__link {
        &:after {
          content: none;
        }
      }
    }
  }

  // .hero__link

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--whiteColor);
    position: relative;
    transition: all 0.3s ease 0s;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      width: 2px;
      height: 100%;
      background-color: #aaaaaa;
      @media (max-width: 1400px){
          content: none;
      }
    }
    &:hover {
      color: var(--accentColor);
    }
    @media (max-width: 992px){
        font-size: 20px;
        line-height: 25px;
    }
    @media (max-width: 992px){
        font-size: 16px;
        line-height: 22px;
    }
    @media (max-width: 480px){
        font-size: 12px;
        line-height: 18px;
    }
  }

  // .hero__text

  &__text {
    margin-top: 40px;
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 34px;
    color: var(--whiteColor);
    text-align: center;
    @media (max-width: 992px){
        font-size: 16px;
        line-height: 30px;
    }
    @media (max-width: 576px){
        margin-top: 25px;
    }
  }

  // .hero__btn

  &__btn {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    padding-right: 125px;
    padding-left: 125px;
    @media (max-width: 992px){
        padding-right: 80px;
        padding-left: 80px;
    }
    @media (max-width: 480px){
        padding-right: 0;
        padding-left: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
  }

  // .hero__crypto-link

  &__crypto-link {
    margin-top: 30px;
    display: inline-block;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--accentColor);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      height: 2px;
      background-color: var(--accentColor);
      width: 0%;
      transition: all 0.3s ease 0s;
    }
    &:hover:after {
      width: 100%;
    }
    @media (max-width: 992px){
        font-size: 14px;
    }
  }

  // .hero__click-down

  &__click-down {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: 1200px){
        position: static;
        display: block;
        margin-top: 40px;
        transform: translateX(0%);
    }
  }
}

// SECTION HERO END ========================================================================================================================================================

// SECTION VACANCY START ========================================================================================================================================================

.vacancy {
    height: 100%;
		// .vacancy__wrap
    .container {
      height: 100%;
    }
		&__wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

		// .vacancy__suptitle

		&__suptitle {
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: var(--accentColor);
    }

		// .vacancy__title

		&__title {
      margin-top: 10px;
      font-weight: 700;
      font-size: 30px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      color: var(--blackColor);
    }

		// .vacancy__items

		&__items {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 20px;
    }

		// .vacancy__item

		&__item {
      box-sizing: border-box;
      flex-basis: calc(50% - 12px);
      background-color: var(--whiteColor);
      border: 1px solid #DDDDDD;
      padding: 30px;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
      }
    }

		// .vacancy__name

		&__name {
      grid-column: span 8;
      max-width: 285px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: var(--blackColor);

    }

		// .vacancy__link

		&__link {
      padding: 10px 25px;
      font-size: 14px;
      line-height: 20px;
      grid-column: span 4;
      align-self: flex-start;
    }

		// .vacancy__list

		&__list {
      grid-column: span 12;
      display: flex;
      column-gap: 30px;
      > li {
        &:last-child {
          padding-left: 15px;
          background-image: url('../img/location.png');
          background-size: 11px 15px;
          background-repeat: no-repeat;
          background-position: left center;
        }
        > a {
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          color: var(--accentColor);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

		// .vacancy__btn

		&__btn {
      margin-top: 40px;
      padding: 15px 55px;
    }
}





// SECTION VACANCY END ========================================================================================================================================================



